<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end" (click)="dismiss()">
      {{'CANCEL' | translate }}
    </ion-buttons>
    <ion-title>{{'PATIENT.ADD_PATIENT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="patientForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">{{'PATIENT.NAME' | translate }}</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['name']"></app-control-error-message>

      <ion-item>
        <ion-label position="stacked">{{'PATIENT.EMAIL' | translate }}</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['email']"></app-control-error-message>

      <ion-item>
        <ion-label position="stacked">{{'PATIENT.PHONE' | translate }}</ion-label>
        <ion-input formControlName="phone"></ion-input>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['phone']"></app-control-error-message>

      <ion-item>
        <ion-label position="stacked">{{'PATIENT.DATE_OF_BIRTH' | translate }}</ion-label>
        <ion-datetime formControlName="date_of_birth" display-format="DD/MMM/YYYY" picker-format="DD MMMM YYYY"></ion-datetime>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['date_of_birth']"></app-control-error-message>

      <ion-radio-group formControlName="gender">
        <ion-list-header>
          {{'PATIENT.GENDER' | translate }}
        </ion-list-header>

        <ion-item>
          <ion-label>{{'PATIENT.MALE' | translate }}</ion-label>
          <ion-radio value="male"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>{{'PATIENT.FEMALE' | translate }}</ion-label>
          <ion-radio value="female"></ion-radio>
        </ion-item>
        <app-control-error-message [control]="patientForm['controls']['gender']"></app-control-error-message>
      </ion-radio-group>

      <ion-item>
        <ion-label position="stacked">{{'PATIENT.ADDRESS' | translate }}</ion-label>
        <ion-textarea formControlName="address"></ion-textarea>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['address']"></app-control-error-message>

      <ion-item>
        <ion-label position="stacked">{{'PATIENT.DIAGNOSIS' | translate }}</ion-label>
        <ion-textarea formControlName="diagnosis"></ion-textarea>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['diagnosis']"></app-control-error-message>

      <ion-item>
        <ion-label position="stacked">{{'PATIENT.HAS_GUARDIAN' | translate }}</ion-label>
        <ion-checkbox formControlName="has_guardian"></ion-checkbox>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['has_guardian']"></app-control-error-message>

      <ion-item *ngIf="patientForm['controls']['has_guardian'].value" >
        <ion-label position="stacked">{{'PATIENT.GUARDIAN_NAME' | translate }}</ion-label>
        <ion-input formControlName="guardian_name"></ion-input>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['guardian_name']"></app-control-error-message>

      <ion-item>
        <ion-label position="stacked">{{'PATIENT.NOTES' | translate }}</ion-label>
        <ion-textarea formControlName="notes"></ion-textarea>
      </ion-item>
      <app-control-error-message [control]="patientForm['controls']['notes']"></app-control-error-message>
    </ion-list>
    <ion-button expand="block" color="primary" type="submit" [disabled]="!patientForm.valid" (click)="save()">
      {{'PATIENT.ADD_PATIENT' | translate}}</ion-button>
  </form>
</ion-content>
