
ion-card {
    border: 2px solid var(--ion-color-primary);
    border-radius: 1rem
}

ion-button {
    --border-width: 1px;
}

.running-mode {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
    margin-bottom: 10px;
}

.headset-status {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.has-updates {
    border: 2px solid var(--ion-color-warning);
}

ion-select {
    justify-content: center;
}

.my-buffer-progress{
    --background: #ffffff;
    --buffer-background:#d3d3d3;
    --progress-background:#45a8c8;
}

.module-card {
    transition: transform .2s;
}

.module-card:hover,
.module-card:focus {
    transform: scale(1.05);
}

.patientAccordion {
    cursor: pointer;
}

.patientAccordion:hover {
    background-color: #F5F5F5;
}

.allModules {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.allModules > * {
    box-sizing: border-box;
}

.allModules > *:not(:last-child) {
    margin-right: 32px;
}

/* Item sizing */
.module-card {
    width: 33%;
    // flex: 0 1 calc(33.3% - 32px);
}