<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button  (click)="editPatient()">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-label>Connect Wirelessly</ion-label>
      <ion-toggle color="secondary" [(ngModel)]="mainEventsService.wirelessMode"></ion-toggle>
    </ion-buttons>
    <ion-title>{{'PATIENT.PATIENT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header> -->
<nb-layout style="width: 100%;">
  <nb-layout-header>
    <div class="header-container">
      <nb-actions>
        <nb-action routerLink="/home" icon="arrow-back-outline" badgePosition="right" badgeStatus="info" title="Back to Home Page" size="giant"></nb-action>
        <nb-action icon="edit-2-outline" badgePosition="right" badgeStatus="info" title="Edit Patient" size="giant" (click)="editPatient()"></nb-action>
      </nb-actions>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header class="patientAccordion">
          <nb-user [name]="patient?.name"   
                   [picture]="patient?.photo ||'assets/imgs/vr-kid.png'" 
                   showName="true"
                   showTitle="true"
                   shape="semi-round"
                   size="giant"></nb-user>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-list>
            <nb-list-item>
              {{'PATIENT.DIAGNOSIS' | translate }}: {{patient?.diagnosis}}
            </nb-list-item>
            <nb-list-item>
              {{'PATIENT.DATE_OF_BIRTH' | translate }}: {{patient?.date_of_birth}}
            </nb-list-item>
            <nb-list-item>
              {{'PATIENT.PHONE' | translate }}: {{patient?.phone}}
            </nb-list-item>
            <nb-list-item>
              {{'PATIENT.HAS_GUARDIAN' | translate }}: {{ (patient?.has_guardian ? 'YES' : 'NO') | translate}}
            </nb-list-item>
            <nb-list-item>
              {{'PATIENT.GUARDIAN_NAME' | translate }}: {{patient?.guardian_name}}
            </nb-list-item>
            <nb-list-item>
              {{'PATIENT.ADDRESS' | translate }}: {{patient?.address}}
            </nb-list-item>
            <nb-list-item>
              {{'PATIENT.NOTES' | translate }}: {{patient?.notes}}
            </nb-list-item>
          </nb-list>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

    <br>

    <nb-card accent="success">
      <!-- <nb-card-header>Active Headsets: {{ onlineHeadsets.length }}</nb-card-header> -->
      <nb-card-body>
        <nb-select fullWidth  shape="semi-round" size="giant" placeholder="Select Active Headset" 
                   [(selected)]="selectedOnlineHeadset" (selectedChange)="selectOnlineHeadset($event)">
          <nb-option *ngFor="let headset of onlineHeadsets" [value]="headset.headsetSerial">
            {{ headset.headsetName }} - Serial Number: {{ headset.headsetSerial }}
          </nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>

    <!-- <div class="allModules">
      <div *ngFor="let module of modules">
        <nb-card size="tiny" accent="success" class="moduleCard">
          
        </nb-card>
      </div>
    </div> -->
  </nb-layout-column>
</nb-layout>

<ion-content class="ion-padding">

  <ion-list>
    <ion-grid>
      <ion-row class="ion-align-items-start ion-justify-content-center">
        <ion-col size="4" *ngFor="let module of modules">
          <ion-card [ngClass]="{'has-updates': mainEventsService.trackedModules[module.id]?.new_version}" class="module-card">
            <img [src]="module?.image ||'assets/imgs/vr_logo.jpeg'"/>
            <ion-card-header>
              <ion-text color="secondary" style="text-align:center;">
                <h4>{{module?.name}}</h4>
              </ion-text>
              <!-- <ion-card-title color="secondary">{{module?.name}}</ion-card-title> -->
              <ion-card-subtitle>
                <!-- {{module?.description}} -->
            </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div *ngIf="mainEventsService.trackedModules[module.id]?.downloading">
                <!-- <ion-progress-bar [value]="mainEventsService.trackedModules[module.id]?.ratio"
                [buffer]="mainEventsService.trackedModules[module.id]?.ratio"
                class="my-buffer-progress"
                ></ion-progress-bar> -->
                <progress-bar [progress]="mainEventsService.trackedModules[module.id]?.ratio | round"
                              [color-degraded]="{'0': '#ffbf00', '50': '#45a8c8', '90': '#0dbab1'}"
                              >
                </progress-bar>
                <!-- Downloading Updates... {{ mainEventsService.trackedModules[module.id]?.ratio | round }} % -->

                <ion-grid>
                  <ion-row>
                    <ion-col>

                      <ion-button *ngIf="!mainEventsService.trackedModules[module.id]?.paused"
                      expand="full" shape="round" fill="outline"
                      color="primary" size='small' (click)="pauseDownloading(module)">
                        <ion-icon name="pause"></ion-icon>
                      </ion-button>

                      <ion-button *ngIf="mainEventsService.trackedModules[module.id]?.paused"
                      expand="full" shape="round" fill="outline"
                        color="primary" size='small' (click)="resumeDownloading(module)">
                        <ion-icon name="play"></ion-icon>
                      </ion-button>
                    
                    </ion-col>
                    <ion-col>

                      <ion-button
                        color="primary" size='small' (click)="cancelDownloading(module)"
                        expand="full" shape="round" fill="outline"
                        >
                        <ion-icon name="close-circle"></ion-icon>
                      </ion-button>

                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>

              <div *ngIf="mainEventsService.trackedModules[module.id]?.installing">
                <ion-progress-bar
                type="indeterminate"
                color="light" ></ion-progress-bar>
                Installing Updates...
              </div>

              <div *ngIf="!mainEventsService.trackedModules[module.id]?.downloading && !mainEventsService.trackedModules[module.id]?.installing">
                <ion-text color="medium" *ngIf="mainEventsService.trackedModules[module.id]?.new_version">
                  <ion-icon color="primary" name="alert"></ion-icon>
                  Version {{mainEventsService.trackedModules[module.id]?.new_version}} is available.
                  <br>
                  <ion-button color="primary" size='small'
                              expand="full" shape="round" 
                              fill="outline" (click)="downloadLatestVersion(module)">
                    Download Latest Version
                  </ion-button>
                </ion-text>

                <ion-text color="medium" *ngIf="mainEventsService.trackedModules[module.id]?.new_version_not_installed">
                  <ion-icon color="primary" name="alert"></ion-icon>
                  Version {{mainEventsService.trackedModules[module.id]?.new_version}} is not installed.
                  <br>
                  <ion-button color="primary" size='small'
                              expand="full" shape="round" 
                              fill="outline" (click)="installLatestVersion(module)">
                    Install
                  </ion-button>
                </ion-text>
              </div>

              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-button expand="full" shape="round" fill="outline"  color="primary" (click)="runModuleV2(module)"
                    [disabled]="!isOnlineHeadsetSelected">
                    <ion-icon name="play" slot="icon-only"></ion-icon>
                      <!-- {{'PATIENT.START_MODULE' | translate}} -->
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button fill="outline"  expand="full" shape="round" color="secondary"
                    [routerLink]="['/patient/', patient.id, 'modules', module.id, 'charts']">
                    <ion-icon name="analytics" slot="icon-only"></ion-icon>
                      <!-- Show Statistics -->
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="!mainEventsService.trackedModules[module.id]?.downloading && !mainEventsService.trackedModules[module.id]?.installing">
                  <ion-button color="meduim" fill="clear" size='small' (click)="resetModule(module)" >
                    Clear
                  </ion-button>
                <ion-button color="meduim" fill="clear" size='small' (click)="installAndroid(module)">
                  Install Android
                </ion-button>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <div class="empty-content" *ngIf="!modules?.length">
          <div class="illustration-wrapper">
            <ion-icon name="folder-open"></ion-icon>
          </div>
          <div class="empty-text">Patient Has No Modules!</div>
        </div>
      </ion-row>
    </ion-grid>
  </ion-list>
    <ion-button expand="block" color="dark" fill="clear"
      (click)="toggleConsole()" >
      Show/hide Console
    </ion-button>
    <ion-button color="meduim" fill="clear" size='small'
      (click)="resetModules()" >
      Clear Downloaded Modules
    </ion-button>
</ion-content>
