.img-patient{
    height: 100px;
}

ion-card {
    border: 1px solid var(--ion-color-primary);
    border-radius: 1rem
}

.UserimgSection{
    position: relative;
}


.usernameSection{
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 15px;
    color:  var(--ion-color-primary);
}
.descText{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width:100%;
    color:  var(--ion-color-medium);
    font-size: 16px;
}
ion-img{
    width: 90%;
    height: 90%;
}
.listSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
}

.borderBottomLine {
    display: block;
    width: 100%;
    position: absolute;
    border-bottom: 1px solid #cfcfd1;
    height: 100%;
    left: 21%;
}

.fontSize{
    font-size: 30px;
}
h5{
    margin-bottom: 5px;
    margin-top: 12px;
    font-size: 16px;
}
ion-note{
    font-size: 14px;
}

.patientItem {
    cursor: pointer;

}

.patientItem:hover {
    background-color: #F5F5F5;
}

@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../themes';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0!important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }
}
